**/node_modules/
extraction/html/
extraction/resources
**/*.txt
!**/requirements.txt
**/*.log

**/extraction/html
**/extraction/resources

**/__pycache__

**/*.idea

*.swp

cpe582-eventextraction-5054f2680cd4.json

# dependencies
server/cfp-app/node_modules

# testing
cfp-app/coverage

# production
cfp-app/build

# misc
cfp-app/.DS_Store
cfp-app/.env
cfp-app/npm-debug.log
